@page "/consulta"
@using AppMultas.Models;
@using AppMultas.Services;
@inject VeiculoController veiculoController;
@inject NavigationManager navegacao;
@rendermode InteractiveServer

<h3>CONSULTA DE MULTAS</h3>

<div class="container">
    <nav class="navbar navbar-light" style="background-color: white"></nav>
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <label for="veiculo" class="form-label">CARROS CADASTRADOS:</label>
    <select @onchange="SelecionarVeiculo" class="form-select" aria-label="Selecione um carro">
        <option selected>Selecione uma placa</option>
        @foreach (var item in listaVeiculos)
        {
            <option value=@item.Id>@item.Placa</option>
        }
    </select>

    <nav class="navbar navbar-light" style="background-color: white"></nav>
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="row align-items-start">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">MODELO:</label>
                <input @bind="veiculo.Modelo" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">MARCA:</label>
                <input @bind="veiculo.Marca" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">PLACA:</label>
                <input @bind="veiculo.Placa" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>

    </div>

    <nav class="navbar navbar-light" style="background-color: white"></nav>
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>
    <nav class="navbar navbar-light" style="background-color: white"></nav>

    @*###################################################################*@

    <h4 style="text-align:center">MULTAS REGISTRADAS</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Descrição:</th>
                <th>Valor:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in listaMultas)
            {
                <tr>
                    <td>@multa.Descricao</td>
                    <td>@multa.ValorMulta</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary">
                <strong>Soma total das multas por veículo:</strong> @SomaMultas.ToString("C")
            </div>
        </div>
    </div>
</div>

@code {
    public List<Multa> listaMultas = new List<Multa>();
    public List<Veiculo> listaVeiculos = new List<Veiculo>();
    public Veiculo? veiculo = new Veiculo();
    private decimal? Valor { get; set; }

    private decimal SomaMultas => listaMultas.Sum(m => m.ValorMulta ?? 0);

    protected override async Task OnInitializedAsync()
    {
        var lista = await veiculoController.ListaDeVeiculos();
        listaVeiculos = lista;
    }

    public void SelecionarVeiculo(ChangeEventArgs e)
    {
        int id = Convert.ToInt32(e.Value);
        veiculo = listaVeiculos.FirstOrDefault(v => v.Id == id);
        listaMultas = veiculo.Multas ?? new List<Multa>();
    }
}