@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page-div">
<h1>ATIVIDADE DE LÓGICA DE PROGRAMAÇÃO VISUAL II</h1>

<span class="home-page-text"> Plataforma para gerenciamento de cadastro de cargos, cadastro de candidatos, inscrições, notas e resultados para concursos.</span>
</div>